.layout {
  display: flex;
  min-height: 100vh;
  padding-top: 70px;
  /* Header height */
  margin-left: 250px;
  /* Navbar width */
}

.mainContent {
  flex: 1;
  padding: 24px;
  background-color: var(--lightBlueBG);
}