.navbar {
  position: fixed;
  top: 78.8;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: white;
  border-right: 1px solid #ddd;
  padding-top: 1rem;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 900;
}

.navLink {
  display: block;
  padding: 0.6rem;
  color: var(--darkerGreyText);
  font-weight: 400;
  border-radius: 4px;
}

.navLink:hover {
  color: var(--primary);
  background-color: var(--lightBlueBG);
}

.active {
  color: var(--secondary);
}