.pageContainer {
    background-color: white;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 24px;
}

.header {
    display: flex;
}

.pageTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 0;
    width: auto;
    background: linear-gradient(to top left, rgb(255, 123, 0), rgb(0, 72, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
