.pageContainer {
    background-color: white;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 24px;
}

.pageTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 240px;
    background: linear-gradient(to top right, var(--primaryText), rgb(255, 128, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}