.filterSelectContainer {
    display: flex;
    gap: 8px;
    height: 48px;
    margin: 14px 14px 0 14px;
}

.newButtonEnd {
    display: flex;
    justify-content: end;
    margin: 14px 14px 0 14px;
}

.manDay {
    justify-self: end;
    justify-content: center;
    margin: auto;
    font-size: small;
    margin: 0 14px 0 14px;

}

.header {
    display: flex;
    justify-content: space-between;
}

.taskTableContainer {
    padding: 14px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Auto-adjust columns */
    grid-gap: 2px;
    max-height: 100vh;
    overflow: auto;
}

/* Make sure to apply horizontal scroll for smaller screens */
@media screen and (max-width: 768px) {
    .taskTableContainer {
        overflow-x: auto;
        /* Allow horizontal scroll on smaller screens */
    }
}

/* Column Styling for Status (each column will represent a status) */
.statusColumn {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #ffffff;
    min-height: 350px;
}

.statusColumn .header {
    font-weight: normal;
    padding-bottom: 12px;
}

/* Task List inside each status column */
.statusColumn .task {
    padding: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    background-color: #fff;
    border-left: 4px solid var(--secondary);
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    cursor: grab;
    font-size: small;
}

/* Header for each status column */
.statusColumn h3 {
    text-align: center;
    font-weight: bold;
}

.statusColumn.draggingOver {
    background-color: var(--lightGreenBG);
}

.name {
    max-width: 90%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    padding: 4px;
}

.name strong {
    padding-right: 8px;
}


/* General task styling */
.task {
    font-size: 16px;
    color: #333;
}

.task:hover {
    transition: ease-in 0.2s;
    transform: scale(1.02);
}

.resUser {
    display: flex;
    gap: 6px;
    padding: 4px;
}

.resUser span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.priority {
    padding: 4px;
}

.priority::before {
    content: "Priority ";
    margin-right: 12px;
    color: var(--darkerGreyText);
}

.btn {
    height: 70%;
    margin: auto;
    padding: 4px 8px;
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.head {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: relative; /* Add this to position the edit button relative to this container */
}

.edit {
    color: var(--primary);
    margin-top: 0;
    padding: 4px;
    position: absolute; /* Position the edit button absolutely */
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
}

.edit:hover {
    background-color: var(--lightGreyBG);
}
