.layout {
    display: flex;
    min-height: 100vh;
    padding-top: 60px; /* Header height */
    margin-left: 250px; /* Navbar width */
  }
  
  .mainContent {
    flex: 1;
    padding: 2rem;
  }
  