/* From Uiverse.io by alexruix */

.searchContainer {
    display: grid;
    justify-content: end; /* Aligns the content to the right */
}

.search {
    width: 300px;
    background-color: #f5f5f5;
    color: #242424;
    margin-bottom: 8px;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
    text-transform: capitalize;
    justify-content: space-between; /* Aligns the content to the right */
}

.search:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
}

.search:hover {
    outline: 1px solid lightgrey;
}