/* .container {
  padding: 20px;
  max-width: 1250px;
  min-height: 550px;
  margin: 0 auto;
  height: 100%;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 20px;
  color: var(--primaryTextLighter);
}

.header p {
  font-size: 16px;
  color: #555;
}

.addProjectBtn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.addProjectBtn:hover {
  background-color: #0056b3;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 18px;
  flex-grow: 2;
}

.projectCard {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: auto 0;
  padding: 16px;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  width: 380px;
}

.projectCard:hover {
  transform: scale(1.02);
}

.projectCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectCard h2 {
  font-weight: bold;
  color: var(--primaryText);
  margin: 0;
}

.projectCode {
  margin-bottom: 10px;
  color: var(--primaryTextLighter)
}

.statsContainer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

.statItem {
  flex: 1;
}

.statValue {
  color: var(--primaryText);
  font-size: smaller;
  font-weight: bolder;
}

.statLabel {
  color: var(--primaryTextLighter);
  font-size: smaller;
}