.statsContainer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #475569;
  margin-bottom: 1rem;
}

.statItem {
  flex: 1;
}

.statValue {
  font-weight: 600;
}

.statLabel {
  font-size: 0.875rem;
}

.title {
  white-space: nowrap; /* Prevents wrapping */
  overflow: hidden; /* Hides overflow */
  text-overflow: ellipsis; /* Adds "..." to indicate overflow */
  width: 100%; /* Ensures it takes the full width of the container */
}
